#topContainer{
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
}
#leftContainer{
    position: absolute;
    top: 10%;
    left: 0;
    height: 90%;
    width: 20%;
}
#rightContainer{
    position: absolute;
    top: 10%;
    right: 0;
    width: 80%;
    bottom: 0;
}
#title{
    
}
body{
    font-family: 'Felipa', cursive;
    font-size: 1.5em;
    background-image: url("../../Taller 1/Resources/01.jpg");
}
